Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h.in
config.sub
configure
depcomp
install-sh
ltmain.sh
m4
missing
config.h
config.h.in~
config.log
config.status
configure~
external/
libtakeover.pc
libtakeover/.deps/
libtool
stamp-h1
tools/.deps/
*.o
.libs
*.la
*.lo
tools/inject_criticald
tools/orphan_commander
xcuserdata
project.xcworkspace